openapi: 3.1.0

info:
  title: Lunar Dragons Codex API
  version: 1.0.0
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  description: >
    Read and maintain the structured lore archive for the Lunar Dragons
    Warhammer 40,000 homebrew Chapter.

servers:
  - url: https://lunardragons.cloud
    description: Lunar Dragons Site and authoritative archive API

security:
  - bearerAuth: []

paths:
  /api/gpt/v1/lore:
    get:
      operationId: getLoreArchive
      summary: Read the Lunar Dragons lore archive
      description: >
        Returns broad Chapter context including identity, timeline, relics,
        and sector intelligence.
      responses:
        "200":
          description: The current Lunar Dragons lore archive.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoreArchiveResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/gpt/v1/search:
    get:
      operationId: searchLoreArchive
      summary: Search Lunar Dragons lore
      description: >
        Searches indexed Lunar Dragons lore. Structured lore matches include
        their stable ID and update timestamp. Results contain bounded previews;
        retrieve one record by ID before updating it.
      parameters:
        - name: q
          in: query
          required: true
          description: Search text.
          schema:
            type: string
            minLength: 1
            maxLength: 500
      responses:
        "200":
          description: Matching archive results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/gpt/v1/entries:
    get:
      operationId: listLoreEntries
      summary: List all structured lore entries
      description: >
        Returns a bounded, paginated index of structured lore records with
        stable IDs, categories, statuses, content previews, and timestamps.
        Retrieve one record by ID for its complete content.
      parameters:
        - name: offset
          in: query
          required: false
          description: Zero-based record offset. Use nextOffset to continue.
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          required: false
          description: Records per page. Use 1 when requesting full content.
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: includeContent
          in: query
          required: false
          description: Return full content. Requires limit=1; otherwise previews are returned.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: All structured lore entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoreEntryListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

    post:
      operationId: createLoreEntry
      x-openai-isConsequential: false
      summary: Create a structured lore entry
      description: >
        Creates a lore entry. Search existing lore first when practical.
        Omitted status defaults to draft. Choose status explicitly when known;
        use draft or review for unfinished material and canon only for
        explicitly established lore. An unknown status is rejected rather
        than normalized.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLoreEntryRequest"
      responses:
        "201":
          description: Lore entry created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateLoreEntryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: A matching entry exists or the bounded optimistic write conflicted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: The structured lore collection would exceed its safe archive capacity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/gpt/v1/entries/{id}:
    get:
      operationId: getLoreEntryById
      summary: Get one structured lore entry
      description: >
        Retrieves one exact structured lore entry using its stable record ID.
      parameters:
        - name: id
          in: path
          required: true
          description: Stable identifier of the structured lore entry.
          schema:
            type: string
            maxLength: 160
      responses:
        "200":
          description: The requested structured lore entry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoreEntryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

    patch:
      operationId: updateLoreEntryById
      x-openai-isConsequential: false
      summary: Update an existing structured lore entry
      description: >
        Partially updates a lore entry by ID. Only supplied fields change.
        The ID and creation time are preserved. Read the current record first
        when practical. Use retconned for superseded lore.
      parameters:
        - name: id
          in: path
          required: true
          description: Stable identifier of the structured lore entry.
          schema:
            type: string
            maxLength: 160
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLoreEntryRequest"
      responses:
        "200":
          description: Lore entry updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateLoreEntryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: A matching entry exists or the bounded optimistic write conflicted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: The structured lore collection would exceed its safe archive capacity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Lunar Dragons GPT API Bearer token.

  schemas:
    LoreStatus:
      type: string
      enum:
        - draft
        - review
        - canon
        - retconned
      description: Canonical state of the lore record.

    LoreCategory:
      type: string
      enum:
        - campaign
        - event
        - character
        - relic
        - world
        - organization
        - decree
        - other

    LoreChronologyPrecision:
      type: string
      enum:
        - exact
        - circa
        - early
        - mid
        - late
        - unknown
      description: >
        Precision of one Imperial chronology point. Exact and circa points
        require a year; coarse and unknown points omit it.

    LoreChronologyPoint:
      type: object
      additionalProperties: false
      required:
        - millennium
        - precision
      properties:
        millennium:
          type: integer
          minimum: 1
          maximum: 99
          description: Imperial millennium number, for example 42 for M42.
        precision:
          $ref: "#/components/schemas/LoreChronologyPrecision"
        year:
          type: integer
          minimum: 0
          maximum: 999
          description: >
            Three-digit year within the millennium. Required only when
            precision is exact or circa.

    LoreChronology:
      type: object
      additionalProperties: false
      required:
        - start
      properties:
        start:
          $ref: "#/components/schemas/LoreChronologyPoint"
        end:
          $ref: "#/components/schemas/LoreChronologyPoint"
        ongoing:
          type: boolean
          enum: [true]
          description: >
            Supply true for an open-ended record. End and ongoing are
            mutually exclusive.

    LoreEntry:
      type: object
      additionalProperties: false
      required:
        - id
        - date
        - title
        - category
        - status
        - content
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          maxLength: 160
          description: Stable unique identifier.
        date:
          type: string
          maxLength: 80
          description: >
            Canonical compatibility display generated from chronology when
            structured chronology is present.
        chronology:
          $ref: "#/components/schemas/LoreChronology"
        title:
          type: string
          maxLength: 240
          description: Human-readable lore title.
        subtitle:
          type: string
          maxLength: 360
          description: Optional secondary title shown only inside the opened Chronicle record.
        category:
          $ref: "#/components/schemas/LoreCategory"
        status:
          $ref: "#/components/schemas/LoreStatus"
        content:
          type: string
          maxLength: 64000
          description: Full lore text for single-record reads; paginated lists return a bounded preview.
        contentLength:
          type: integer
          minimum: 0
          description: Original content length before any list or search preview truncation.
        contentTruncated:
          type: boolean
          description: True when content is a bounded preview rather than the complete record.
        createdAt:
          type: integer
          format: int64
          description: Creation timestamp in Unix milliseconds.
        updatedAt:
          type: integer
          format: int64
          description: Last update timestamp in Unix milliseconds.

    CreateLoreEntryRequest:
      type: object
      additionalProperties: false
      required:
        - content
      properties:
        date:
          type: string
          maxLength: 80
          description: >
            Parseable Imperial chronology compatibility display, such as
            056.M42, C.056.M42, EARLY M42, ???.M42, a valid range, or a date
            followed by PRESENT. Arbitrary prose dates are rejected. When
            chronology is also supplied, both values must describe the same interval.
        chronology:
          $ref: "#/components/schemas/LoreChronology"
        title:
          type: string
          minLength: 1
          maxLength: 240
          description: Concise descriptive title.
        subtitle:
          type: string
          maxLength: 360
          description: Optional secondary archival designation.
        category:
          $ref: "#/components/schemas/LoreCategory"
        status:
          allOf:
            - $ref: "#/components/schemas/LoreStatus"
          default: draft
          description: Defaults to draft when omitted; unknown values are invalid.
        content:
          type: string
          minLength: 1
          maxLength: 64000
          description: Complete lore text.

    UpdateLoreEntryRequest:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        date:
          type: string
          maxLength: 80
          description: >
            Parseable replacement Imperial chronology display. Arbitrary
            prose dates are rejected. When chronology is also supplied, both
            values must describe the same interval.
        chronology:
          $ref: "#/components/schemas/LoreChronology"
        title:
          type: string
          minLength: 1
          maxLength: 240
          description: Replacement title.
        subtitle:
          type: string
          maxLength: 360
          description: Replacement secondary title. Supply an empty string to clear it.
        category:
          $ref: "#/components/schemas/LoreCategory"
        status:
          $ref: "#/components/schemas/LoreStatus"
        content:
          type: string
          minLength: 1
          maxLength: 64000
          description: Replacement lore content.

    LoreEntryListResponse:
      type: object
      required:
        - source
        - persisted
        - count
        - returned
        - offset
        - limit
        - hasMore
        - nextOffset
        - contentMode
        - entries
      properties:
        source:
          type: string
        persisted:
          type: boolean
        count:
          type: integer
          minimum: 0
        entries:
          type: array
          items:
            $ref: "#/components/schemas/LoreEntry"
        returned:
          type: integer
          minimum: 0
        offset:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
        hasMore:
          type: boolean
        nextOffset:
          type: [integer, "null"]
          minimum: 0
        contentMode:
          type: string
          enum: [preview, full]

    LoreEntryResponse:
      type: object
      required:
        - source
        - persisted
        - entry
      properties:
        source:
          type: string
        persisted:
          type: boolean
        entry:
          $ref: "#/components/schemas/LoreEntry"

    CreateLoreEntryResponse:
      type: object
      required:
        - success
        - entry
        - count
      properties:
        success:
          type: boolean
        entry:
          $ref: "#/components/schemas/LoreEntry"
        count:
          type: integer
          minimum: 1

    UpdateLoreEntryResponse:
      type: object
      required:
        - success
        - entry
      properties:
        success:
          type: boolean
        entry:
          $ref: "#/components/schemas/LoreEntry"

    SearchResult:
      type: object
      additionalProperties: true
      properties:
        category:
          type: string
        title:
          type: string
        content:
          type: string
        recordType:
          type: string
          enum: [lore]
        id:
          type: string
          description: Stable structured lore ID when the result is a lore record.
        subtitle:
          type: string
        date:
          type: string
        chronology:
          $ref: "#/components/schemas/LoreChronology"
        status:
          $ref: "#/components/schemas/LoreStatus"
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
        contentLength:
          type: integer
          minimum: 0
        contentTruncated:
          type: boolean

    SearchResponse:
      type: object
      required:
        - query
        - count
        - returned
        - hasMore
        - source
        - results
      properties:
        query:
          type: string
        count:
          type: integer
          minimum: 0
        returned:
          type: integer
          minimum: 0
        hasMore:
          type: boolean
        source:
          type: string
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchResult"

    LoreArchiveResponse:
      type: object
      required:
        - source
        - persisted
        - chapter
        - timeline
        - relics
        - sector
      properties:
        source:
          type: string
        persisted:
          type: boolean
        chapter:
          type: object
          additionalProperties: true
        timeline:
          type: array
          items:
            type: string
        relics:
          type: array
          items:
            type: object
            additionalProperties: true
        sector:
          type: object
          additionalProperties: true

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string

  responses:
    BadRequest:
      description: Request validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Unauthorized:
      description: Missing or invalid Bearer token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: The requested lore entry does not exist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    ServerError:
      description: The archive could not process the request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
